<div class="rounded-md border border-zinc-300 p-2 mb-4">
  <h2 class="font-semibold text-xl"><%= @post.title %> <small class="text-base">by <%= @post.author.name %></small></h2>
  <p class="text-right text-sm font-bold ">Comments:
    <%= @post.commentscounter || 0 %>
    Likes:
    <%= @post.likescounter || 0 %></p>
  <p class="my-4"><%= @post.text %></p>
  <hr>
  <h4 class="font-semibold mt-4">Comments:</h4>
  <p class="text-right my-2"><%= link_to 'Add Comment', new_user_post_comment_path(@post.author, @post), class: "border px-2 py-1 bg-sky-500 hover:bg-sky-600 font-bold rounded-md" %></p>
    <ul class="my-3 comments_container">
      <% @post.comments.each do |comment| %>
        <li class="text-sm my-2">
          <span class="font-semibold"><%= comment.author.name %></span> says: <%= comment.text %>
        </li>
      <% end %>
    </ul>
</div>
<% if !@is_liked %>
  <%= form_with url: user_post_likes_url(@post.author, @post) do |form| %>
    <%= button_tag class: "text-4xl fixed bottom-5 right-5 text-red-200" do  %>
      ❤️
    <% end %>
  <% end %>
<% else%>
  <%= form_with url: user_post_like_url(@post.author, @post), method: :delete do |form| %>
    <%= button_tag class: "text-4xl fixed bottom-5 right-5 text-red-500" do  %>
      ❤️
    <% end %>
  <% end %>
<% end %>